.panel.panel-default
  .panel-heading Payment info
  .panel-body
    .row
      .col-xs-4
        .form-group
          label Number
          input#payment-number.form-control
        .form-group
          label CVV
          input#payment-cvv.form-control
        .form-group
          label Expiry date
          input#payment-expiry-date.form-control(placeholder="MM/YY")
      .col-xs-8
        span TODO DADOS ANTIGOS
  .panel-footer
     button.btn.btn-success.btn-lg(onclick="tokenizePayment()") Update

script.
  function tokenizePayment() {
    var number = $('#payment-number').val()
    var cvv = $('#payment-cvv').val()
    var expiryDate = $('#payment-expiry-date').val()
    doTokenizePayment(number, cvv, expiryDate).then(function(result) {
      // TODO Put it on the form and submmit
      alert("OK");
    }).catch(function(error) {
      alert("ERROR");
    });
  }
