.panel.panel-default
  .panel-heading Payout Info
  .panel-body
  .panel-footer
    button.btn.btn-success.btn-lg(onclick="tokenizePayout()") Update

script.
  function tokenizePayout() {
      alert("TODO")
  }
