doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='https://js.stripe.com/v2/')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.js')
  body
    .container-fluid
      include navbar.jade
      block content
  script.
    Stripe.setPublishableKey('pk_test_2LSscfE0eJxUCOeWtrks6AXp')
